<h1><%=link_to @link.title, "http://#{@link.link}", :target => "_blank"%></h1>


<% if @link.comments.any? %>
  <ul>
  <%@link.comments.each do |comments|%>
  <li>
    Comment title: <%=comments.title%>
    <p>
    Description:  <%=comments.description%>
    </p>
  </li>

  </ul>
  <%end%>
<%else%>
  <h1 class='black'>There are currently no comments for this link</h1>

  <%if current_user%>
    <h3><%=link_to "Please add a comment", new_link_comment_path(@link.id), :class => 'btn btn-success'%></h3>
    <%= link_to "Edit Link", edit_link_path(@link.id), :class => 'btn btn-success'%>

  <%end%>
<%end%>
